alembic
asyncpg
black
colorama
email-validator
fastapi
greenlet
httpx
isort
loguru
mypy
pathlib
pre-commit
python-dotenv
python-decouple
python-jose
python-slugify
pytest
pytest-asyncio
pytest-cov
pytest-xdist
sqlalchemy
uvicorn
